* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100vh;

  scroll-snap-align: start;
}

header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 2;

  display: flex;
  user-select: none;
  align-items: center;
  text-align: center;
}

.nav {
  height: 80px;
  background-color: #FFFCF7;
  border-bottom: 3px solid #FFE341;
}

.logo-container {
  margin-top: auto;
  width: 150px;
  height: 150px;
}

.logo {
  width: 100%;
  height: 100%;
}

.navbar-links {
  width: 90%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.link {
  position: relative;
  display: inline-block;

  text-decoration: none;
  color: #444;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.link::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 3px;
  left: 0;
  bottom: -6px;

  background-color: #FFE341;

  transform: scaleX(0);
  transition: .3s;
}

.link:hover {
  color: #000;
  font-weight: 600;
}

.link:hover::after {
  width: 100%;

  transform: scaleX(1);
}

.link6 {
  padding: 10px 10px;

  text-decoration: none;
  color: #444;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 16px;
  font-weight: 500;

  border-radius: 50px;
  background: #FFE341;

  transition: box-shadow 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link6:hover {
  color: #000;
  font-weight: 600;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.section-1 {
  width: 100%;

  position: relative;

  align-items: center;
  text-align: center;
}

.contact-us-container {
  width: 100%;
  height: 100%;
}

.contact-us-bg {
  width: 100%;
  height: 100%;
}

.contact-us-content {
  top: 30%;
  left: 12%;

  position: absolute;

  width: 80%;
  color: #fff;
}

.contact-us-title {
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 120px;
  font-weight: normal;
}

.contact-us-desc {
  padding-top: 40px;

  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.section-2 {
  width: 100%;

  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;
}

.facebook-container {
  height: 100%;
}

.facebook-bg {
  width: 100%;
  height: 100%;
}

.facebook-contact {
  top: 16%;
  left: 26%;
  position: absolute;

  width: 50%;
}

.facebook-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.facebook-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.facebook-logo-container {
  position: absolute;
  top: 40%;
  left: 20%;
}

.facebook-content {
  position: absolute;
  top: 45%;
  left: 52%;

  width: 40%;
}

.facebook-content-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
}

.facebook-content-desc {
  padding-top: 30px;
  padding-right: 30px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.section-3 {
  width: 100%;

  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;
}

.instagram-container {
  height: 100%;
}

.instagram-bg {
  width: 100%;
  height: 100%;
}

.instagram-contact {
  top: 16%;
  left: 26%;
  position: absolute;

  width: 50%;
}

.instagram-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.instagram-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.instagram-logo-container {
  position: absolute;
  top: 40%;
  left: 20%;
}

.instagram-content {
  position: absolute;
  top: 45%;
  left: 52%;

  width: 40%;
}

.instagram-content-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
}

.instagram-content-desc {
  padding-top: 30px;
  padding-right: 30px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.section-4 {
  width: 100%;

  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;
}

.email-container {
  height: 100%;
}

.email-bg {
  width: 100%;
  height: 100%;
}

.email-contact {
  top: 16%;
  left: 26%;
  position: absolute;

  width: 50%;
}

.email-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.email-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.email-logo-container {
  position: absolute;
  top: 40%;
  left: 16%;
}

.email-content {
  position: absolute;
  top: 45%;
  left: 52%;

  width: 40%;
}

.email-content-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
}

.email-content-desc {
  padding-top: 30px;
  padding-right: 30px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.section-5 {
  width: 100%;

  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;
}

.notes-container {
  height: 100%;
}

.notes-bg {
  width: 100%;
  height: 100%;
}

.notes-paper1 {
  position: absolute;
  top: 20%;
  left: 10%;

}

.notes-paper-text-1 {
  position: absolute;
  top: 30%;
  left: 12.5%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;

  width: 10%;

  transform: rotate(-9deg);
}

.notes-paper2 {
  position: absolute;
  top: 15%;
  left: 21%;
}

.notes-paper-text-2 {
  position: absolute;
  top: 30%;
  left: 24%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 17px;
  font-weight: 400;

  width: 13%;

  transform: rotate(7deg);
}

.notes-paper3 {
  position: absolute;
  top: 12%;
  left: 37%;
}

.notes-paper-text-3 {
  position: absolute;
  top: 25%;
  left: 40%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;

  width: 16%;
}

.notes-paper4 {
  position: absolute;
  top: 10%;
  left: 51%;
}

.notes-paper-text-4 {
  position: absolute;
  top: 20%;
  left: 57%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;

  width: 20%;
}

.notes-paper5 {
  position: absolute;
  top: 28%;
  left: 50%;
}

.notes-paper-text-5 {
  position: absolute;
  top: 40%;
  left: 57%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 17px;
  font-weight: 400;

  width: 15%;

  transform: rotate(10deg);
}

.notes-paper6 {
  position: absolute;
  top: 70%;
  left: 10%;
}

.notes-paper-text-6 {
  position: absolute;
  top: 80%;
  left: 11.4%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 17px;
  font-weight: 400;

  width: 9%;

  transform: rotate(10deg);
}

.notes-paper7 {
  position: absolute;
  top: 45%;
  left: 15%;
}

.notes-paper-text-7 {
  position: absolute;
  top: 60%;
  left: 18.5%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;

  width: 12%;

  transform: rotate(-17deg);
}

.notes-paper8 {
  position: absolute;
  top: 60%;
  left: 30%;
}

.notes-paper-text-8 {
  position: absolute;
  top: 68%;
  left: 32%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;

  width: 9%;

  transform: rotate(-5deg);
}

.notes-paper9 {
  position: absolute;
  top: 55%;
  left: 42.5%;
}

.notes-paper-text-9 {
  position: absolute;
  top: 66%;
  left: 46%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 17px;
  font-weight: 400;

  width: 17%;

  transform: rotate(-10deg);
}

.notes-paper10 {
  position: absolute;
  top: 60%;
  left: 70%;
}

.notes-paper-text-10 {
  position: absolute;
  top: 70%;
  left: 72.1%;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;

  width: 10%;
}

.section-6 {
  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;
}

.contact-us-container-2 {
  height: 60%;
}

.contact-us-bg-2 {
  width: 100%;
  height: 100%;
}

.contact-us-content-2 {
  top: 16%;
  right: 18%;
  position: absolute;

  width: 60%;
}

.contact-us-2-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.contact-us-2-desc {
  padding-top: 25px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  width: 100%;
  height: 40%;

  background-color: #000;
}

.footer-content {
  position: absolute;
  bottom: 6%;
  left: 5%;
  width: 30%;

  text-align: left;
}

.footer-name {
  color: #fff;
  font-family: 'Single Day', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.footer-address-1 {
  padding-top: 20px;

  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.footer-address-2 {
  padding-top: 30px;

  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contact-header {
  position: absolute;
  bottom: 28%;
  right: 45%;

  color: #fff;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.contacts {
  position: absolute;
  bottom: 3%;
  left: 43%;
}

.contact {
  padding-block: 5px;

  display: flex;
  align-items: center;
}

.facebook {
  padding-left: 15px;

  text-decoration: none;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.instagram {
  padding-left: 15px;

  text-decoration: none;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.email {
  padding-left: 15px;

  text-decoration: none;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.footer-content-2 {
  position: absolute;
  bottom: 13%;
  right: 5%;

  width: 20%;

  text-align: left;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
