* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100vh;

  scroll-snap-align: start;
}

header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 2;

  display: flex;
  user-select: none;
  align-items: center;
  text-align: center;
}

.nav {
  height: 80px;
  background-color: #FFFCF7;
  border-bottom: 3px solid #FFE341;
}

.logo-container {
  margin-top: auto;
  width: 150px;
  height: 150px;
}

.logo {
  width: 100%;
  height: 100%;
}

.navbar-links {
  width: 90%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.link {
  position: relative;
  display: inline-block;

  text-decoration: none;
  color: #444;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.link::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 3px;
  left: 0;
  bottom: -6px;

  background-color: #FFE341;

  transform: scaleX(0);
  transition: .3s;
}

.link:hover {
  color: #000;
  font-weight: 600;
}

.link:hover::after {
  width: 100%;

  transform: scaleX(1);
}

.link6 {
  padding: 10px 10px;

  text-decoration: none;
  color: #444;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 16px;
  font-weight: 500;

  border-radius: 50px;
  background: #FFE341;

  transition: box-shadow 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link6:hover {
  color: #000;
  font-weight: 600;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.section-1 {
  width: 100%;

  position: relative;

  align-items: center;
  text-align: center;
}

.menu-container {
  width: 100%;
  height: 100%;
}

.menu-bg {
  width: 100%;
  height: 100%;
}

.menu-content {
  top: 30%;
  left: 11%;

  position: absolute;

  width: 80%;
  color: #fff;
}

.menu-title {
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 120px;
  font-weight: normal;
}

.menu-desc {
  padding-top: 40px;

  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.section-2 {
  width: 100%;

  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;
}

.menu-categories-container {
  height: 100%;
}

.menu-categories-bg {
  width: 100%;
  height: 100%;
}

.menu-categories-content {
  top: 16%;
  left: 17%;
  position: absolute;

  width: 70%;
}

.menu-categories-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.menu-categories-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.fm-categories-container {
  position: absolute;

  width: 300px;
  height: 260px;

  bottom: 6%;
  left: 10%;

  background-color: #fff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #FFE341;
}

.fm-categories-img {
  position: absolute;
  top: -25%;
  left: 25%;

  width: 150px;
  height: 150px;
}

.fm-categories-content {
  position: absolute;
  left: 11%;
  bottom: 11%;

  width: 20%;
}

.fm-categories-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.fm-categories-desc:hover {
  color: #000;
  font-weight: 600;
}

.fm-categories-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.ed-categories-container {
  position: absolute;

  width: 300px;
  height: 260px;

  bottom: 6%;
  left: 40%;

  background-color: #fff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #FFE341;
}

.ed-categories-img {
  position: absolute;
  top: -25%;
  left: 25%;

  width: 150px;
  height: 150px;
}

.ed-categories-content {
  position: absolute;
  left: 41.3%;
  bottom: 11%;

  width: 20%;
}

.ed-categories-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.ed-categories-desc:hover {
  color: #000;
  font-weight: 600;
}

.ed-categories-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.ncd-categories-container {
  position: absolute;

  width: 300px;
  height: 260px;

  bottom: 6%;
  left: 70%;

  background-color: #fff;
  border-radius: 20px;
  border: 3px solid;
  border-color: #FFE341;
}

.ncd-categories-img {
  position: absolute;
  top: -25%;
  left: 25%;

  width: 150px;
  height: 150px;
}

.ncd-categories-content {
  position: absolute;
  right: 9%;
  bottom: 8%;

  width: 20%;
}

.ncd-categories-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.ncd-categories-desc:hover {
  color: #000;
  font-weight: 600;
}

.ncd-categories-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.section-3 {
  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;

  background-color: #FFE341;
}

.food-menu-container {
  height: 100%;
}

.food-menu-bg {
  width: 100%;
  height: 100%;
}

.food-menu-content {
  top: 16%;
  left: 20%;
  position: absolute;

  width: 65%;
}

.food-menu-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.food-menu-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.food-menu {
  position: absolute;
  left: 8%;
  bottom: 28%;

  width: 300px;
  height: 180px;
}

.food-menu-img {
  position: relative;
  z-index: 1;

  width: 100%;
  height: auto;

  transition: transform 0.3s ease;
  cursor: pointer;
}

.food-menu img:hover {
  z-index: 2;

  transform: scale(1.3);
}

.ccp-content {
  position: absolute;
  left: 35%;
  top: 45%;

  width: 28%;
}

.ccp-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.ccp-desc:hover {
  color: #000;
  font-weight: 600;
}

.ccp-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.ss-content {
  position: absolute;
  left: 35%;
  bottom: 15%;

  width: 28%;
}

.ss-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.ss-desc:hover {
  color: #000;
  font-weight: 600;
}

.ss-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.r-content {
  position: absolute;
  right: 5%;
  top: 45%;

  width: 25%;
}

.r-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.r-desc:hover {
  color: #000;
  font-weight: 600;
}

.r-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.view-more-link {
  position: absolute;

  bottom: 20%;
  right: 13%;
}

.view-more {
  padding: 13px 20px;

  text-decoration: none;
  color: #444;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 15px;
  font-weight: 400;

  border-radius: 30px;
  background: #FFE341;

  transition: box-shadow 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-more:hover {
  color: #000;
  font-weight: 600;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.section-4 {
  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;
}

.espresso-drinks-container {
  height: 100%;
}

.espresso-drinks-bg {
  width: 100%;
  height: 100%;
}

.espresso-drinks-content {
  top: 16%;
  left: 20%;
  position: absolute;

  width: 65%;
}

.espresso-drinks-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.espresso-drinks-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.espresso-drinks {
  position: absolute;
  left: 8%;
  bottom: 28%;

  width: 300px;
  height: 180px;
}

.espresso-drinks-img {
  position: relative;
  z-index: 1;

  width: 100%;
  height: auto;

  transition: transform 0.3s ease;
  cursor: pointer;
}

.espresso-drinks img:hover {
  z-index: 2;

  transform: scale(1.3);
}

.fd-content {
  position: absolute;
  left: 35%;
  top: 45%;

  width: 28%;
}

.fd-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.fd-desc:hover {
  color: #000;
  font-weight: 600;
}

.fd-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.ed-content {
  position: absolute;
  left: 35%;
  bottom: 15%;

  width: 28%;
}

.ed-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.ed-desc:hover {
  color: #000;
  font-weight: 600;
}

.ed-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.ef-content {
  position: absolute;
  right: 5%;
  top: 45%;

  width: 25%;
}

.ef-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.ef-desc:hover {
  color: #000;
  font-weight: 600;
}

.ef-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.d-content {
  position: absolute;
  right: 5%;
  bottom: 18%;

  width: 25%;
}

.d-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.d-desc:hover {
  color: #000;
  font-weight: 600;
}

.d-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.view-more-link-2 {
  position: absolute;

  bottom: 7%;
  right: 30%;
}

.view-more-2 {
  padding: 13px 20px;

  text-decoration: none;
  color: #444;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 15px;
  font-weight: 400;

  border-radius: 30px;
  background: #FFE341;

  transition: box-shadow 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-more-2:hover {
  color: #000;
  font-weight: 600;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.section-5 {
  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;

  background-color: #FFE341;
}

.non-coffee-drinks-container {
  height: 100%;
}

.non-coffee-drinks-bg {
  width: 100%;
  height: 100%;
}

.non-coffee-drinks-content {
  top: 16%;
  left: 22%;
  position: absolute;

  width: 60%;
}

.non-coffee-drinks-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.non-coffee-drinks-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.non-coffee-drinks {
  position: absolute;
  left: 8%;
  bottom: 28%;

  width: 300px;
  height: 180px;
}

.non-coffee-drinks-img {
  position: relative;
  z-index: 1;

  width: 100%;
  height: auto;

  transition: transform 0.3s ease;
  cursor: pointer;
}

.non-coffee-drinks img:hover {
  z-index: 2;

  transform: scale(1.3);
}

.mb-content {
  position: absolute;
  left: 35%;
  top: 45%;

  width: 28%;
}

.mb-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.mb-desc:hover {
  color: #000;
  font-weight: 600;
}

.mb-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.ia-content {
  position: absolute;
  left: 35%;
  bottom: 15%;

  width: 28%;
}

.ia-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.ia-desc:hover {
  color: #000;
  font-weight: 600;
}

.ia-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.t-content {
  position: absolute;
  right: 5%;
  top: 45%;

  width: 25%;
}

.t-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.t-desc:hover {
  color: #000;
  font-weight: 600;
}

.t-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.ncf-content {
  position: absolute;
  right: 5%;
  bottom: 15%;

  width: 25%;
}

.ncf-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.ncf-desc:hover {
  color: #000;
  font-weight: 600;
}

.ncf-desc {
  padding-top: 5px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.view-more-link-3 {
  position: absolute;

  bottom: 7%;
  right: 30%;
}

.view-more-3 {
  padding: 13px 20px;

  text-decoration: none;
  color: #444;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 15px;
  font-weight: 400;

  border-radius: 30px;
  background: #FFE341;

  transition: box-shadow 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-more-3:hover {
  color: #000;
  font-weight: 600;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.section-6 {
  position: relative;
  margin-top: 0;

  align-items: center;
  text-align: center;
}

.menu-container-2 {
  height: 60%;
}

.menu-bg-2 {
  width: 100%;
  height: 100%;
}

.menu-content-2 {
  top: 16%;
  left: 20%;
  position: absolute;

  width: 60%;
}

.menu-2-title {
  color: #000;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.menu-2-desc {
  padding-top: 25px;

  color: #444;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  width: 100%;
  height: 40%;

  background-color: #000;
}

.footer-content {
  position: absolute;
  bottom: 6%;
  left: 5%;
  width: 30%;

  text-align: left;
}

.footer-name {
  color: #fff;
  font-family: 'Single Day', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.footer-address-1 {
  padding-top: 20px;

  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.footer-address-2 {
  padding-top: 30px;

  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contact-header {
  position: absolute;
  bottom: 28%;
  right: 45%;

  color: #fff;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.contacts {
  position: absolute;
  bottom: 3%;
  left: 43%;
}

.contact {
  padding-block: 5px;

  display: flex;
  align-items: center;
}

.facebook {
  padding-left: 15px;

  text-decoration: none;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.instagram {
  padding-left: 15px;

  text-decoration: none;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.email {
  padding-left: 15px;

  text-decoration: none;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.footer-content-2 {
  position: absolute;
  bottom: 13%;
  right: 5%;

  width: 20%;

  text-align: left;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
